@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';

html {
	font-size: 62.5%;
}

body {
	// background: thistle;
}

header {
	background-image: url("../../dev/assets/dan-gold-105699.jpg");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
}

h1 {
	@include headingFont;
	text-align: center;
}

.header__placemat {
	width: 80%;
	height: 80vh;
	background-color: thistle;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selectForm__wrapper {
	// constrains the dropdown menu form
	// width: 80%;
}

.userInput {
	display: flex;
}

.dropdown {
	border: none;
	border-bottom: 1px solid white;
	padding: 10px;
	margin-top: 10px;
	margin: 20px;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	width: 150px;
	font-family: $fontSecondary;
	color: $colorDk;
}

.button {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border: 2px solid red;
	padding: 10px;
	font-family: $fontSecondary;
	color: $colorDk;
}


.mapContainer {
	height: 200px;
	// display: -webkit-box;
	// display: -ms-flexbox;
	// display: flex;
}

#map {
	height: 100%;
}

//Just making result images smaller for now
.resultItem .imageContain {
	width:25%;
	img {
		max-width: 100%;
		display: block;
	}
}

form.results {
	display: none;
}