@import 'partials/setup';
@import 'partials/variables';
body {
	background: thistle;
}

.mapContainer {
	height: 200px;
	// display: -webkit-box;
	// display: -ms-flexbox;
	// display: flex;
}

#map {
	height: 100%;
}

//Just making result images smaller for now
.resultItem .imageContain {
	width:25%;
	img {
		max-width: 100%;
		display: block;
	}
}