header {
	background-image: url("../../assets/nickghattasphoto.jpg");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
	@include bp(med) {
		height: auto;
	}
}

h1 {
	font-family: $primaryFont;
	text-align: center;
	color: $colorDk;
	font-size: 5.5rem;
	margin: 0 0 5px 0;
	@include bp(sml) {
		font-size: 3.5rem;
	}
}

select:focus {
	outline: none;
	border: 1px solid $colorDk;
}

.button {
	@include buttonStyles;
	margin-bottom: 15px;
	transition: all 0.30s ease-in-out;
}

.header__placemat {
	width: 80%;
	height: 80vh;
	background-color: rgba(240,249,254, 0.9);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	@include bp(med) {
		padding: 10px;
		height: auto;
	}
}

.subhead {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	color: $colorDk;
	text-align: center;
	margin: 0 0 50px 0;
	@include bp(sml) {
		font-size: 1rem;
		margin: 0 0 15px 0;
	}
}

.userInput {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.selectForm__lookingWrapper {
	display: flex;
	justify-content: center;
	@include bp(med) {
		flex-direction: column;
		align-items: center;
	}
}

.selectForm__nameWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	@include bp(sml) {
		flex-direction: column;
	}
}

.dropdown {
	border: none;
	border-bottom: 2px dotted $colorDk;
	padding: 10px;
	margin: 10px;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	width: 150px;
	font-family: $secondaryFont;
	color: $colorDk;
	background-color: rgba(217,240,245, 0.5);
	background-image: url(../../assets/downarrow.png);
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: 95%;
}