@mixin buttonStyles {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-appearance: none;
	-moz-border-radius: 0px;
	border: 2px solid $colorDk;
	padding: 10px;
	margin-top: 30px;
	font-family: $secondaryFont;
	background-color: $colorDk;
	color: $colorLt;
	width: 150px;
	&:hover {
		background-color: $colorLt;
		color: $colorDk;
		border: 2px solid $colorDk;
	}
}

// media breakpoints

@mixin bp($size) {
	@if ($size == 'sml') {
		@media (max-width: 570px) { 
			@content; 
		}
	}

	@if ($size == 'med') {
		@media (max-width: 680px) { 
			@content; 
		}
	}
 
	@if $size == 'lrg' {
		@media (max-width: 750px) { 
			@content; 
		}
	}
}
