.alcoholResults {
	position: relative;
}

//Just making result images smaller for now
.resultItem .imageContain {
	width:25%;
	img {
		max-width: 100%;
		display: block;
	}
}

form.results {
	display: none;
}

.resultsShow {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
}

.resultItem {
	display: flex;
	margin: 10px;
	width: calc(33.3% - 20px);
}

.resultsLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid red;
	// margin: 10px;
}

.resultsText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
