.alcoholResults {
	position: relative;
	display: none;
}

//Just making result images smaller for now
.resultItem .imageContain {
	width:25%;
	img {
		max-width: 100%;
		display: block;
	}
}

form.results {
	// display: none;
	height: 100vh;
	@include bp(lrg)
		height: auto;
}

.resultsShow {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

.choice {
	font-family: $primaryFont;
	color: $colorDk;
	font-size: 2rem;
	margin: 15px 15px 0 15px;
	text-align: center;
	p {
		margin: 30px 0 0 0;
	}
}

.responsiveMessage {
	font-family: $primaryFont;
	color: $colorDk;
	font-size: 1.5rem;
	text-align: center;
	display: none;
	@include bp(med) {
		display: block;
	}
}

.chooseAlcohol {
	display: none;
}

.resultItem {
	display: flex;
	margin: 5px 10px;
	width: calc(33.3% - 20px);
	height: 270px;
	border: 5px solid white;
	@include bp(lrg) {
		width: calc(50% - 20px);
		@include bp(sml) {
			width: 100%;
			height: auto;
		}
	}
}

.resultsLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $colorMd;
	outline: 5px solid white;
	margin: 10px;
	padding: 10px;
	position: relative;
	&:hover {
		outline: 5px solid $colorDk;
	}
}

input[type="radio"]:checked ~ .resultsLabel {
	outline: 5px solid $colorDk;
}

.resultsText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.alcoholResults__button--container {
	display: flex;
	justify-content: center;
	margin: 10px;
	@include bp(sml) {
		flex-direction: column;
		align-items: center;
	}
}

#confirm {
	@include buttonStyles;
	margin: 10px;
	@include bp(lrg) {
		width: 70%;
	}
}

#newSelection {
	@include buttonStyles;
	margin: 10px;
	@include bp(lrg) {
		width: 70%;
	}
}