$primaryFont: 'Francois One', sans-serif;
$secondaryFont: 'Lato', sans-serif;

$colorDk: #0F4E84;
$colorMd: #D9F0F5;
$colorLt: #F0F9FE;

$sml: ( max: 570px );
$med: ( max: 680px );
$lrg: ( max: 750px );

.animation {
	position: absolute;
	bottom:50px;
	visibility: hidden;
	transition:all 0.1s ease-out;
}

.createAnimation {
	animation: spin 2s ease-in-out forwards;
}


@keyframes spin {
	0% {
		visibility: visible;
		transform: rotate(0deg);
	}

	
 100% {
	transform: rotate(1118deg);
 }

}